.navbar-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color:brown;
    display: flex;
    flex-direction: row;
}

.navbar-menu{
    position: relative;
    left: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar-menu > div{
    cursor: pointer;
}

.navbar-logo{
    position: absolute;
    left: 5%;
    align-items: center;
    cursor: pointer;    
}